*target*
*.jar
*.war
*.ear
*.class

#Eclipse
.project
.classpath
.settings
.checkstyle

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
/.DS_Store

#Other
.env
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Locally stored "Eclipse launch configurations"
*.launch

logs/
.DS_Store

*.iml
*.ipr
*.iws
.idea/
